*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  body{
    background-image: url('img/background-img.jpg');
    background-position: absolute;
    background-repeat: no-repeat;
   
  }
  #dataHora{
    position: absolute;
    color: white;
    margin-top: -12%;
    font-size: 1.5em;
    animation: animate 1.5s linear infinite;
    background-color: rgba(0, 0, 0, 0.947);
    border: 2px solid rgba(0, 0, 0, 0.793);
    border-radius: 5px;
    padding: 10px;
  }
  @keyframes animate{
    0%{
      opacity: 0;
    }
    50%{
      opacity: 0.7;
    }
    100%{
      opacity: 0;
    }
  }
  main{
    background-color: rgba(255, 255, 255, 0.412);
    margin: auto;
    max-width: 30%;
    min-height: 50vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    margin-top: 13%;
    -webkit-box-shadow: inset 7px 10px 92px 0px rgba(255, 255, 255, 0.434);
-moz-box-shadow: inset 7px 10px 92px 0px rgba(255, 255, 255, 0.437);
box-shadow: inset 7px 10px 92px 0px rgba(255, 255, 255, 0.529);
  }

  .container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    min-width: 80%;
    width: 70%;
    height: 40vh;
    padding: 10px;
    
  }
  
  .container-input{
    display: flex;
    gap: 10px;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    
  }
  .container-span{
    background-color: rgba(0, 0, 0, 0.207);
    display: flex;
    flex-direction: column;
    gap:5px;
    padding: 20px;
    width: 80%;
    max-width: 80%;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 27vh;
    
  }
  .container-span span{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .imgSpan{
    max-width: 15%;
  }

  .container-input input{
    padding: 10px;
    outline: none;
    border-radius: 10px;
    border: none;
    min-width: 63%;
    width: 63%;
  
  }

  .container-input button{
    border: none;
    cursor: pointer;
    border-radius: 10px;
    max-width: 30%;
    width: 3vw;
    height: 4.7vh;
    max-height: 5vh;
    transition: 1s;
  }
  .container-input button:hover{
    opacity: 0.5;
  }
p{
  padding: 5px 0 10px 0;
  border-bottom: 2px double rgba(0, 0, 0, 0.381);
}
  .content-span{
    display: flex;
    flex-direction: row;
  }
  #cidadeSpan, #ceu{
      text-transform: capitalize;
      padding: 10px;
  }
 
  #localIcone,#termIcone,
  #nuvIcone{
    width: 15%;
  }



/* Trabalhando a responsividade... */



@media (max-width: 1245px) {
  
  main{
    min-width: 50%;
    min-height: 60vh;
    font-size: 0.8em;
  }
  .container{
    min-width: 80%;
    min-height: 45vh;
  }
  .container-input{
    min-width: 80%;
    min-height:8vh;
    gap: 10px;
  }
  input{
    min-width: 65%;
   
  }
  button{
    min-width: 15%;
    padding: 17px;
    display: flex;justify-content: center;
    

  }
  .container-span{
    min-width: 20%;
    min-height: 35vh;
  }
}
@media (max-width: 776px) {
  #dataHora{
    position: fixed;
    margin-top: -25%;
    font-size: 1em;
  }
  main{
    
    min-width: 90%;
    min-height: 60vh;
    font-size: 0.8em;
    margin: 25% auto;
    margin: auto;
    margin-top: 30%;
  }
  .container{
    min-width: 90%;
    min-height: 45vh;
  }
  .container-input{
    min-width: 80%;
    min-height:8vh;
    gap: 10px;
  }
  input{
    min-width: 65%;
   
  }
  button{
    min-width: 15%;
    padding: 17px;
    display: flex;justify-content: center;
    

  }
  .container-span{
    min-width: 70%;
    min-height: 35vh;
  }
  body{
    max-height: 90vh;
  }
}

